doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title s
    body 
    link(rel='stylesheet' href='./public/adminpage.css' type='text/css')
each issue in x
        .shape              
           p
            |   Name : #{issue.Username} 
            br
            |  Issue : #{issue.Issue}
            form.form(action='/solution' method='post')
                textarea#Solutions(type='text' placeholder='Solutions' name='Solutions' required='')
                
                input.btn.btn-block.btn-primary(type='submit')



script.
 Document.getElementById('Solution').textContent = Solutions;
 const data = {Solutions};
 const options = {
 method: 'POST'
 headers: {
 'Content-Type': 'application/json'
 },
 body: JSON.stringify(data)
  };
 fetch('' , options)
 
