doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Core

body 
    link(href='//db.onlinewebfonts.com/c/a4e256ed67403c6ad5d43937ed48a77b?family=Core+Sans+N+W01+35+Light' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='./public/corepage.css' type='text/css')

.body-content
    .module
        form.form(action='/UserAuth' method='get')


            input.btn.btn-block.btn-primary(type='submit' value='User')


        form(action='/AdminAuth' method='get')

            input.btn.btn-block.btn-primary(type='submit' value='Admin')









