doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title User Issues
    body 
.body-content
    .module
        h1 Send an issue
        form.form(action='/userissue' method='post')
            .alert.alert-error
            
            input#Username(type='text' placeholder='Username' name='Username' required='')
            input#Issue(type='text' placeholder='Issue' name='Issue' required='')
            
            
    
            input.btn.btn-block.btn-primary(type='submit')


each issue in x
        .shape              
           p
            |   Name : #{issue.Username} 
            br
            |  Issue : #{issue.Issue}
            form.form(action='/solution' method='post')
                textarea#Solutions(type='text' placeholder='Solutions' name='Solutions' required='')

                input.btn.btn-block.btn-primary(type='submit')

script.
 Document.getElementById('Solution').textContent = Solutions;
 const data = {Solutions};
 const options = {
 method: 'POST'
 headers: {
 'Content-Type': 'application/json'
 },
 body: JSON.stringify(data)
  };
 fetch('' , options)
 


script.
  Document.getElementById('Username').textContent = Username;
  Document.getElementById('Issue').textContent = Issue;
  Document.getElementById('Date').textContent = TodaysDate;

  const data = {Username, Issue, TodaysDate};
  const options = {
  method: 'POST'
  headers: {
  'Content-Type': 'application/json'
  },
  body: JSON.stringify(data)
  };
  fetch('' , options)
  console.log(Username)
  console.log(Issue)
  console.log(TodaysDate)
  



